
<div class="row">
</div>
 <div class="row">
   <div class ="col s6">
     <%= image_tag(@user.avatar_url) %>
   </div>
   <div class="col s3">
     Starred repos: <%= @user.starred(current_user.oauth_token).count %><br><br>
     Your Followers:
     <ul>
       <% @user.followers(current_user.oauth_token).each do |user| %>
        <li> <%= user %></li>
       <% end %>
     </ul>
   </div>
 </div>
 <div class="row">
   <div class ="col s6">
     <h5><%= current_user.name %></h5>
   </div>
 </div>
 <div class="row">
   <div class ="col s6">
     <h6><%= current_user.nickname%></h6>
   </div>
 </div>