
<div class="row">
</div>
 <div class="row">
   <div class ="col s4">
     <%= image_tag(@user.avatar_url) %>
   </div>
   <div class="col s2">
      Repositories: <%= @user.repos(@user.token).count %>
   </div>
   <div class="col s2">
       Starred repos: <%= @user.starred(@user.token).count %>
   </div>
   <div class="col s2">
       Followers: <%= @user.followers(@user.token).count %>
   </div>
   <div class="col s2">
      Following: <%= @user.following(@user.token).count %>
    </div>
 </div>
 <div class="row">
   <div class ="col s6">
     <h5><strong><%= current_user.name %></strong></h5>
   </div>
 </div>
 <div class="row">
   <div class ="col s6">
     <h6><%= current_user.nickname%></h6>
   </div>
 </div>
 <div class="row">
   <div class ="col s6">
  
     Organizations: <%= @user.organizations(@user.token).count%>
   </div>
 </div>