    <%= render 'layouts/base_layout' %>
    <div class="col m5 s12">
      <div class="card">
        <div class="card-content">
          <strong><%= @user.repos.first.name %></strong><br>
          <small>Language: <%= @user.repos.first.language %></small><br><br>
        </div>
      </div>
    </div>
    <div class="col m5 s12">
      <div class="card">
        <div class="card-content">
          <strong><%= @user.repos[1].name %></strong><br>
          <small>Language: <%= @user.repos[1].language %></small><br><br>
        </div>
      </div>
    </div>
    <div class="col m5 s12">
      <div class="card">
        <div class="card-content">
          <strong><%= @user.repos[2].name %></strong><br>
          <small>Language: <%= @user.repos[2].language %></small><br><br>
        </div>
      </div>
    </div>
    <div class="col m5 s12">
      <div class="card">
        <div class="card-content">
          <strong><%= @user.repos[3].name %></strong><br>
          <small>Language: <%= @user.repos[3].language %></small><br><br>
        </div>
      </div>
    </div>
    <div class="col m10 s12">
      <div class="card">
        <div class="card-content">
          <strong>Recent Commits:</strong><br><br>
            <% @user.recent_commits(@user.nickname).each do |commit| %>
              <li><em>"<%= commit.message %>"</em>  to <strong><%= commit.repo %></strong> repository </li>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col m10 s12">
      <div class="card">
        <div class="card-content">
          <strong>Open Pull Requests:</strong><br><br>
            <% @user.open_pull_requests(@user.nickname).each do |pr| %>
              <li><%= pr.pr_title %> for <strong><%= pr.repo %></strong> repository </li>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col m10 s12">
      <div class="card">
        <div class="card-content">
          <strong>Mentions:</strong><br><br>
            <% @user.mentions.each do |mention| %>
              <li>From <%= mention.owner %> on <strong><%= mention.repo %></strong> repository on <%= mention.date %></li>
            <% end %>
        </div>
      </div>
    </div>
  </div>
 </div>
 </div>
