    <%= render 'layouts/base_layout' %>
    <div class="col m9 s12">
      <% @user.following.each do |f| %>
        <%= image_tag(f.avatar_url, :height=> '40') %> <strong><%= f.nickname %></strong><br><br>
        <strong>Recent Activity:</strong><br>
          <% f.events(f.nickname)[0..4].each do |event| %>
            <%= event.type %> on <%= event.repo %><br>
          <% end %>
          <hr>
      <% end %>
    </div>
  </div>